.shop-canvas {
  width: 100%;
  height: 100%;
  display: block;
  background: #fafafa;
  border: 3px solid #ddd;
  box-sizing: border-box;
}

.shop-canvas-grid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: 
    linear-gradient(to right, #e0e0e0 1px, transparent 1px),
    linear-gradient(to bottom, #e0e0e0 1px, transparent 1px);
  background-size: 20px 20px; /* grid size */
  z-index: 1;
  outline: 2px solid #ccc;

}